<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="title icon" href="/img/flaticon_negative.png" />
    <title>flaticon</title>
    
</head>
<body>
    <section>
        <div>
            <div>
                <button>
                    <a>Sign up</a>
                </button>

                <button class="btn">
                    <a href="./loginPage.html">Sign in</a>
                </button>
            </div>
            
            <div>
                <span>
                    <a href="">Google</a>
                </span>
                <span>
                    <a href="">Facebook</a>
                </span>
            </div>
            <form action="" method="get" autocomplete="on">
                <div>
                    <span></span>
                    <label for="text"></label>
                    <input type="text" name="text" id="text" >
                </div>

                <div>
                    <label for="password"></label>
                    <input type="password" name="password" id="password" autocomplete="on">
                    <span></span>
                </div>

                <div>
                    <label for="email"></label>
                    <input type="email" name="email" id="email">
                </div>

                <div>
                    <label for="checkbox">
                        <input type="checkbox" name="checkbox" id="checkbox" value="agree">
                        I do not wish to receive email and promotion from ....
                    </label>
                </div>
                
                
                <button type="submit">
                    <span id="sign">
                        Sign up
                    </span>
                </button> 
            </form>
        </section>
  
</body>
</html>