<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .hide{
            display: none;
        }
    </style>
</head>
<body>
    <section>
        <div>
            <div>
                <button id="sign-up-btn">
                    <a>Sign up</a></button>
                    <button id="sign-in-btn">
                        <a>Sign in</a>
                    </button>
                </div>
            </div>
            <div>
                <span>
                    <a href="">Google</a>
                </span>
                <span>
                    <a href="">Facebook</a>
                </span>
            </div>
            <form action="" method="get" autocomplete="on">
                <div>
                    <span></span>
                    <input type="text" name="text" id="text" >
                </div>
                <div>
                    <input type="password" name="password" id="password" autocomplete="on">
                    <span></span>
                </div>
                <div>
                    <span></span>
                    <input type="email" name="email" id="email" class="">
                </div>  
                <div>
                    <label for="checkbox" id="check">
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <span class="">I do not wish to receive news and promotions from flaticon by email.</span>
                        
                    </label>
                </div>
                <button type="submit">
                    <span id="sign">
                        Sign up
                    </span>
                </button> 
            </form>
        </section>
    <script>
        let signInBtn = document.getElementById("sign-in-btn");
        let signUpBtn = document.getElementById("sign-up-btn");
        let checkbox = document.getElementById("check");
        let email = document.getElementById("email");
        
    signInBtn.addEventListener("click", function () {
        email.classList.add("hide");
        checkbox.classList.add("hide");
        if (email.className === "hide") {
             let sign = document.getElementById("sign");
              sign.textContent = "sign in"
            
        }
    })
    signUpBtn.addEventListener("click", function () {
        email.classList.remove("hide");
        checkbox.classList.remove("hide");
        if (!email.className === "hide") {
             let sign = document.getElementById("sign");
              sign.textContent = "sign up"
            
        }
    })
    </script>
</body>
</html>